/* This is the css file for my website. Every page references this one bloated css file! */

@font-face {
    font-family: 'hecticregular';
    src: url('hectic-webfont.woff2') format('woff2'),
         url('hectic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'moon_flower_boldregular';
    src: url('moon_flower_bold-webfont.woff2') format('woff2'),
         url('moon_flower_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'organic_teabagsregular';
    src: url('organic_teabags-webfont.woff2') format('woff2'),
         url('organic_teabags-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'moon_flowerregular';
    src: url('moon_flower-webfont.woff2') format('woff2'),
         url('moon_flower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** BIG TEXT! **/
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	color: #ffffff;
    height: auto;
}

/** NOT AS BIG AS H1 TEXT! **/
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	color: #ffffff;
	text-align: center;
}

/** regular paragraph text **/
p {
	font-size: 22px;
    color: #ffffff;
}

/** html needs to fill the page**/
html {
	margin: 0;
	padding: 0;
	min-height: 100%
        
}

/** body needs to fill the page and it needs to be used for some sick transitions \(>.<)/ **/
body {
	font-family: 'Montserrat';
	font-weight: 100;
    
	background: linear-gradient(to bottom right,#7BC6D7,#B382DD);
    width: 100%;
	min-height: 100%;
    margin-left: 0;
    margin-top: 0;

	/* opacity is 0 for page transition, it gets changed to 1 when .loaded is called */
	opacity: 0;

	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
    
    
}

.loaded {
	opacity: 1;
}

/** the parent container that holds all its sweet children together <3 **/
#container {
	height: 100%;
	width: 100%;
	position: relative;
}


/** heaaaderrr **/
#header {
	width: 100%;
	overflow: hidden;
	height: fit-content;
	text-align: center;
	position: relative;
}

/** footer stuff **/
.footer {
	position: relative;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	overflow: hidden;
	bottom: 0;
	height: 100px;
	text-align: center;
}

/** header/footer box **/
#nav {
	width: 100%;
	/*max-width:800px;*/
	height: auto 120px;
	min-height: 80px;
	margin: 0 left;
	position: relative;
	color: #ffffff;
}

/** header/footer no link **/
#nav_names {
	position: absolute;
	left: 50px;
	bottom: 20px;
	font-size: 24px;
	display: inline-block;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

/** header/footer link **/
#nav_buttons {
	position: absolute;
	right: 50px;
	bottom: 20px;
	color: #ffffff;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}

/** header/footer link transition + color **/
#nav a.navlink {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

/** header/footer link hover **/
#nav a.navlink:hover {
	color: #6669CB;
	border-bottom: 0px solid transparent;
}

/** responsive header/footer **/
@media (max-width: 600px) {
	#nav {
		text-align: center;
		padding-top: 20px;
		padding: 20px 0;
	}
	#nav_names {
		width: 100%;
	}
	#nav_names,
	#nav_buttons {
		position: static;
		display: inline-block;
	}
}




/** giant colorful intro text container for the homepage **/
#intro {
	width: calc(100%-100px);
	position: relative;
	max-width: 1200px;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

/** responsive headers **/
@media (max-width: 1000px) {
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 50px;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 32px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 32px;
	}
}

/** h1 links have a cool underline effect! **/
h1>a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: border 0.5s ease;
	transition: border 0.5s ease;
	border-bottom: 0px solid transparent;
}

h1>a:hover {
	border-bottom: 10px solid #e0818f;
}


/** this is the styling for the down triangle section marker **/
.down {
	padding-top: 10px;
	width: 200px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** all images should fit their container by width **/
img {
	width: 100%;
}

/** center block **/
.center_image {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	max-height: 350px;
	border: 4px solid #021f28;
	;
}

.colored_container
{
    background: black;
    width: 100vw;
    right: 50px;
	background: linear-gradient(to bottom right,#7BC6D7,#B382DD);

}

/** this is the container for the games section **/
#games {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	overflow: hidden;
}

/** this is the styling for the link block that holds the game and the caption **/
#games > a {
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	padding-bottom: 40px;
}

/** image container **/
.image_container {
	display: inline-block;
	overflow: hidden;
	width: 350px;
	height: 350px;
	margin: 10px;
	border: 10px solid #ffffff;
}

/** overlay box that becomes opaque when hovered over **/
.overlay {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #6669CB;
	transform: translate(0, -355px);
	left: 0;
}

/** overlay hover **/
.overlay_text {
	color: white;
	opacity: 1;
	font-size: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

/** when you hover over the image container the overlay becomes opaque **/
.image_container:hover .overlay {
	opacity: 0.95;
}

/** about section container full of text and information **/
#about {
	width: calc(100%-100px);
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

/** general section class for when i need a container to seperate things (usually used in about section) **/
.section {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	height: fit-content;
	overflow: hidden;
	max-width: 1200px;
}
/** sizing for the p sections in the section class **/
.section>p {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 1100px;
	margin: 0 auto;
	max-width: 100%;
}

/** responsive text box sizing! **/
@media (max-width: 1187px) {
	.section>p {
		width: 820px;
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	.section>p {
		width: 80%;
		margin: 0 auto;
	}
}

/** contact information container **/
#contact {
	width: calc(100%-50px);
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden;
	text-align: left;
	margin-left: 50px;
}

/** the container that holds the iframe that holds the game **/
#game_container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

/** caption for the game **/
.game_caption {
	height: 50px;
	width: 100%;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
}
