/* This is the css file for my website. Every page references this one bloated css file! 

NOTES: NEED TO ADD BREAKPOINTS AND @MEDIA RESPONSIVE DESIGN FOR ALL



*/

@font-face {
    font-family: 'hecticregular';
    src: url('hectic-webfont.woff2') format('woff2'),
         url('hectic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}


/** BIG TEXT! **/
intro{
    
    font-family: 'Roboto', sans-serif;
	font-size: 160px;
	color: #ffffff;
    margin: 0,50px;
    font-weight: 600;
}
h1 {
font-family: 'Roboto', sans-serif;
	font-size: 100px;
	color: #ffffff;
    margin: 0,50px;
}

/** NOT AS BIG AS H1 TEXT! **/
h2 {
font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: #ffffff;
	text-align: center;
    height: auto;
}
h3{
  font-family: 'Roboto', sans-serif;
	font-size: 35px;
	color: #ffffff;
	text-align: center;
    height: auto;  
}
/** regular paragraph text **/
p {
	font-size: 20px;
    color: #ffffff;
font-family: 'Open Sans', sans-serif;
}

/** html needs to fill the page**/
html {
	margin: 0;
	padding: 0;
	min-height: 100%
        
}

/** body needs to fill the page and it needs to be used for some sick transitions \(>.<)/ **/

body {
	font-weight: 100;
        /* 52ACBD 7AC8D7 5E82C5 84A3DC 6F64CA 938ADF */

	/*background: linear-gradient(160deg,#52ACBD,#7AC8D7, #84A3DC, #5E82C5, #84A3DC, #938ADF, #6F64CA);*/
    width: 100%;
	min-height: 100%;
    margin-left: 0;
    margin-top: 0;
   margin-bottom: 0;

	/* opacity is 0 for page transition, it gets changed to 1 when .loaded is called */
	opacity: 1;

	-webkit-transition: all 1s ease;
	transition: all 1s ease;
    
    
}

.loaded {
	opacity: 1;
}

/** the parent container that holds all its sweet children together <3 **/
#container {
	height: 100%;
	width: 100%;
	position: relative;
}

.divider{
    width: 100%;
    min-height: 100vh;

}

.white_bar{
    height: 5px;
    background: white;
}

/** heaaaderrr **/
#header {
	width: 100%;
	overflow: hidden;
	height: fit-content;
	text-align: center;
	position: relative;
}

/** footer stuff **/
.footer {
	position: absolute;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	overflow: hidden;
	bottom: 0;
	height: 100px;
	text-align: center;
}

/** header/footer box **/
#nav {
	width: 100%;
	/*max-width:800px;*/
	height: auto 120px;
	min-height: 80px;
	margin: 0 left;
	position: relative;
	color: #ffffff;
}

/** header/footer no link **/
#nav_names {
	position: absolute;
	left: 50px;
	bottom: 20px;
	font-size: 28px;
	display: inline-block;
	color: #ffffff;
font-family: 'Open Sans', sans-serif;
}

/** header/footer link **/
#nav_buttons {
	position: absolute;
	right: 50px;
	bottom: 20px;
	color: #ffffff;
	font-size: 28px;
    font-family: 'Open Sans', sans-serif;
	display: inline-block;
}

/** header/footer link transition + color **/
#nav a.navlink {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

/** header/footer link hover **/
#nav a.navlink:hover {
	color: gainsboro;
	border-bottom: 0px solid transparent;
}

/** responsive header/footer **/
@media (max-width: 600px) {
	#nav {
		text-align: center;
		padding-top: 20px;
		padding: 20px 0;
	}
	#nav_names {
		width: 100%;
        left: 15px;
	}
	#nav_buttons {
		position: static;
		display: inline-block;
	}
}




/** giant colorful intro text container for the homepage **/
#intro {
	width: calc(100%-100px);
	position: relative;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 25px;
    height: auto;

}


/** responsive headers **/
@media (max-width: 1366px) {
    intro {
		font-size: 140px;
	}
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 50px;
	}
    h3 {
		font-size: 30px;
	}
}

@media (max-width: 1024px) {
	intro {
		font-size: 120px;
	}
	h1 {
		font-size: 65px;
	}
	h2 {
		font-size: 40px;
	}
    h3 {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	intro {
		font-size: 80px;
	}
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 30px;
	}
    h3 {
		font-size: 28px;
	}
}

@media (max-width: 480px) {
    intro {
		font-size: 46px;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 30px;
	}
    h3 {
		font-size: 28px;
	}
    p {
        font-size: 12px;
    }
    #nav_names {
		font-size: 20px;
	}
	#nav_buttons {
        font-size: 20px;
    }
    .image_container {
        width: 100%;
	   height: 250px;
    }
}

/** h1 links have a cool underline effect! **/
a {
	text-decoration: none;
	color: #ffffff;
	transition: color 0.2s ease-in-out;
}

a:hover {
    color: gainsboro;

}

h2>a {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-bottom: 0px solid transparent;
}

h2>a:hover {
	color: gainsboro;
    	transition: all 0.5s ease;

}

/** this is the styling for the down triangle section marker **/
.down {
	padding-top: 50px;
    	padding-bottom: 50px;

	width: 150px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** all images should fit their container by width **/
img {
   width: 100%;
  height: auto;
}

/** center block **/
.center_image {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	max-height: 390px;
	border: 5px solid #ffffff;
	
}

.colored_container
{
    background: black;
    width: 100vw;
    right: 50px;
	background: linear-gradient(to bottom right,#AFE1ED,#7BC6D7,#8B8DDF,#B382DD,#D4B3F0);

}

/** this is the container for the games section **/
#games {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	overflow: hidden;
    height: auto;
}

/** this is the styling for the link block that holds the game and the caption **/
#games > a {
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	padding-bottom: 40px;
}

/** caption for the game **/
.game_caption {
	height: 50px;
	width: 100%;
	font-size: 32px;
font-family: 'Roboto', sans-serif;
}

/** image container **/
.image_container {
	display: inline-block;
	overflow: hidden;
	width: 350px;
	height: 350px;
	margin: 10px;
	border: 10px solid #ffffff;
}

/** overlay box that becomes opaque when hovered over **/
.overlay {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #5E82C5;
	transform: translate(0, -355px);
	left: 0;
}

/** overlay hover **/
.overlay_text {
	color: white;
	opacity: 1;
	font-size: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
font-family: 'Roboto', sans-serif;
}

/** when you hover over the image container the overlay becomes opaque **/
.image_container:hover .overlay {
	opacity: 0.95;
}
@media (max-width: 480px) {

    .image_container {
        width: 250px;
	   height: 250px;
    }
    .overlay{
        transform: translate(0, -255px);

    }
    .center_image{
        	max-height: 250px;
            max-width: 250px;


    }
    #contact > h2{
        font-size: 26px;
    }
}
/** about section container full of text and information **/
#about {
	max-width: 100%;
    width: 100%;
    margin: 0 auto;

	height: fit-content;
	position: relative;
	overflow: hidden;
	text-align: left;

}

/** general section class for when i need a container to seperate things (usually used in about section) **/
.section {
	position: relative;
	display: block;
	margin: 0 auto;
	height: fit-content;
	overflow: hidden;
	max-width: 100%;
    float: center;
    width: 1200px;

}

/** sizing for the p sections in the section class **/
.section>p {
	padding-top: 20px;
	padding-bottom: 20px;
	width: calc(100%-10px);
    max-width: 100%;
    margin: 20px;
    padding-right: 10px;


}


/** contact information container **/
#contact {
	width: calc(100%-20px);
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden;
	text-align: left;
	margin-left: 20px;
    padding-bottom: 100px;
}

/** the container that holds the iframe that holds the game **/
#game_container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}


