body{
	font-family: 'Open Sans';
	font-size: 25px;
	font-weight: 100;
	background: #f2f2f2;
	margin: 0;
}
a{
	text-decoration: none;
	color: #f2f2f2;
}
a:hover{
	color:#f67c00;
}
a.homelink{
	color:inherit;
}
a.homelink:hover{
	color:inherit;
}
/** HEADER **/
#header{
	width:100%;
	overflow: hidden;
	
	text-align: center;
	background:#021f28;
	color: #fff;
	position: relative;	
}

h1{
	font-family: 'Source Code Pro', monospace;
	font-size: 4.5vw;
	color: #303030;
	
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.8vw;
	color: #f67c00;;
	text-align: center;
}
p{
	font-size: 24px;
}
#nav{
	width: 100%;
	/*max-width:800px;*/
	height: auto 120px;
	min-height: 80px;
	margin:0 left;
	position: relative;
	color: #f2f2f2;
	
}
#nav_names{
	position: absolute;
	left:50px;
	bottom:20px;
	font-size:24px;
	display: inline-block;
	color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	
	
}
#nav_buttons{
	position: absolute;
	right:50px;
	bottom:20px;
	color: #f2f2f2;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	
}
#nav a.navlink{
	color: #f2f2f2;
	text-decoration: none;

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;

}
#nav a.navlink:hover{
	color:#f67c00;
}

@media (max-width: 600px){
	#nav{
		text-align: center;
		padding-top: 20px;
		padding: 20px 0;
	}
	#nav_names{
		width: 100%;
	}
	#nav_names, #nav_buttons{
		position: static;
		display: inline-block;
	}
}


#intro
{
	width: 100%;
	position: relative;
	max-width:1200px;
	text-align: left;
	margin: 0px 50px;
	
	margin: left;
	
}
.content{
	width: auto;
	max-width:100%;
	text-align: left;
	position: relative;
	height: 100%;
	padding-left: 50px; padding-right: 50px;
}




.footer {
	background-color: #021f28;
    position: relative;
    width: 100%;
	color: black;
	font-size: 16px;
	overflow: hidden;
	
  }

/* HOMEPAGE */

#section1
{
	right: 50px;
	width: 100vw;
	position: relative;
	height: fit-content;
	overflow: hidden;
	display:flex;
	text-align:center;
	flex-wrap: wrap;
	overflow: wrap;
	border-top: 3vw;
	border-bottom: 3vw;
	border-right: 0px;
	border-left: 0px;
	background-color: #303030;
	
	border-style: solid;
	border-color:   #303030;
}

.image_container
{
	height: fit-content;
	max-height: 300px;
	width: 30%;
	text-align: center;
	flex-grow: 1;
	display: block;
	position: relative;
	overflow: hidden;
	
}

.img
{
	display: block;
	width: 100%;
	height: auto;
	
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;

	
  }

  .overlay_text {
	color: white;
	font-size: 2vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .image_container:hover .overlay {
	opacity: 0.8;
}

#section2
{
	width : 100%;
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden
}
#section3
{
	width : 100%;
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden;
	text-align: center;
}
iframe
{
	padding-right: 20px;
}

/* ALL GAMES */

.preview_game_container_black
{
	width : 100vw;
	right: 50px;
	height: fit-content;
	position: relative;
	display: block;
	overflow: hidden;
	border-top: 3vw;
	border-bottom: 3vw;
	border-right: 0px;
	border-left: 0px;
	background-color: #303030;
	
	border-style: solid;
	border-color:   #303030;
}
.preview_image
{
	width: 30%;
	margin :20px;
	float: left;
}

/* SINGLE GAMES */

/* ABOUT */


/* CONTACT */
